{{ extend 'layout.html' }}

<div class="content">
	<section>
		<article>
			<header>
				{{if not request.args:}}
					{{=A(T('Visualize publications'), _href=URL('index'))}}
				{{elif request.args[0] == 'publication':}}
					{{=A(T('Visualize publications'), _href=URL('profile', args=[request.args[1]]))}}
				{{elif request.args[0] == 'line':}}
					{{=A(T('Back to the publication'), _href=URL('publication', args=[request.args[1]]))}}
				{{else:}}
					{{=A(T('Back to the publication'), _href=URL('publication', args=[session.back]))}}
				{{pass}}
				<hr />
				<h1>{{=T('{0} {1}'.format('New', title))}}</h1>
				<hr />
			</header>
			<div>
				{{=form}}
			</div>	
		</article>
	</section>
</div>
