{{ extend 'layout.html' }}

<div class="content">
	<section>
		<article>
			{{for subject in profile: }}
			<header>
				{{=A(T('Go back to synopses'), _href=URL('index') )}} |
				{{=A(T('Insert new publication'), _href=URL('new', args=['publication', request.args[0]]) )}}
				<hr />
				<h1>{{=subject.name}}</h1>
				<hr />
			</header>
			<div>	
				<table style="border: 1px solid #ccc;">
					<thead>
						<tr>
							<td>Publication</td>
							<td></td>
						</tr>
					</thead>
					<tbody>
						{{for detail in subject.publication.select():}}
						<tr>
							<td>
								{{=detail.title}}
							</td>
							<td>
								{{=A( T('Visualize this publication'),
									  _href=URL( 'information', 
									 			 'publication', 
									 			 args=[detail.id] ) 
								)}}
							</td>
						</tr>
						{{pass}}
					</tbody>
				</table>
			</div>
			{{pass}}
		</article>
	</section>
</div>
