{{ extend 'layout.html' }}

<div class="content">
	<section>
		<article>
			{{for detail in publication: }}
			<header>
				{{=A( T('Go to publications'), _href=URL('profile', args=[session.index]) )}} |
				{{=A( T('Insert a quote'), _href=URL('new', args=['quote', request.args[0]]) )}} |
				{{=A(T('Insert a new column'), _href=URL('new', args=['column', request.args[0]]) )}}
				<hr />
				<h1>{{=detail.title}}</h1>
				<h4 style="font-weight: 200;">{{if detail.sub_title:}} {{=detail.sub_title}} {{pass}}</h4>
				<hr />
			</header>
			<div>	
				<table style="border: 1px solid #ccc; margin: 10px 0 10px;">
					<thead>
						<tr>
							{{for column in detail.column.select():}}
								<td>{{=A(column.title, _href=URL('new', args=['row', column.id]))}}</td>
							{{pass}}							
						</tr>
					</thead>
					<tbody>
						{{ columns = [column for column in detail.column.select()] }}
						{{ rows = [[row for row in column.row.select()] for column in detail.column.select()] }}
						{{ lines = {} }}
						{{ lid = []}}
						
						{{if columns:}}
							{{for c in range(len(columns)):}}
								{{if not lines.has_key(c):}}
									{{lines[c] = TR()}}
									{{lid.append([])}}
								{{pass}}
							{{pass}}
							
							{{for row in rows:}}
								{{for r in row:}}
									{{for c in range(len(columns)):}}
										{{if not r.column_id in lid[c]:}}
											{{lid[c].append(r.column_id)}}
											{{lines[c].append(r.content)}}
										{{pass}}
									{{pass}}
								{{pass}}
							{{pass}}
						{{pass}}
						
						{{for line in lines:}}
							{{=lines[line]}}
						{{pass}}
					</tbody>
				</table>
				<div classs="quote">
				{{quotes = [quote for quote in detail.quote.select()]}}
				{{if quotes:}}
					{{quotes.reverse()}}
					{{=quotes[0].content}}
				{{pass}}
				</div>
			</div>
			{{pass}}
		</article>
	</section>
</div>
